body {
  background-color: red;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
}

.yelenay {
  background-color: black;
}

.Izzet {
  background-color: green;
}
